{% for item in lab_machines %}
Host {{ item.name }} {{ item.ip }}
  Port {{ item.ssh_port_map | regex_replace('\:22','') }}
  ControlPath /tmp/{{ item.name }}-%h-%r

{%   endfor %}

Host *
  HostName 127.0.0.1
  User vagrant
  IdentityFile  ssh/vagrant.private
  ControlMaster auto
  ControlPath /tmp/%h-%p-%r
  ControlPersist 5m
  StrictHostKeyChecking no
