Host bastion
  HostName 127.0.0.1


{%   for entry in groups[item] %}
Host {{ entry }}
  Hostname
{%   endfor %}


Host 172.3.26.* 
  ProxyJump bastion

Host *
  User vagrant
  IdentityFile  ~/.vagrant.d/insecure_private_key
  ControlMaster auto
  ControlPath /tmp/%h-%r
  ControlPersist 5m
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
