[defaults]
inventory                   = inventory/
retry_files_enabled         = false

stdout_callback             = default
bin_ansible_callbacks       = true
callback_whitelist          = yaml



[ssh_connection]
ssh_args                    = -F ssh.cfg
