#
#  aliases to stop, start, and remove a lab
#
alias lab-stop='docker stop {% for item in lab_machines %}
{{ item.name }} 
{%- if not loop.last %} {% endif %}
{%- if loop.last %}'{% endif %}
{%   endfor %}

alias lab-start='docker start {% for item in lab_machines %}
{{ item.name }} 
{%- if not loop.last %} {% endif %}
{%- if loop.last %}'{% endif %}
{%   endfor %}

alias lab-destroy='docker rm {% for item in lab_machines %}
{{ item.name }} 
{%- if not loop.last %} {% endif %}
{%- if loop.last %}'{% endif %}
{%   endfor %}
