Host bastion
  HostName 127.0.0.1

{% for item in lab_machines[1:] %}
Host {{ item.name }}
  HostName {{ item.ip }}

{%   endfor %}
Host *
  ProxyJump bastion
  User vagrant
  IdentityFile  ssh/vagrant.private
  ControlMaster auto
  ControlPath /tmp/%h-%r
  ControlPersist 5m
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
