{% for item in lab_machines %}
Host {{ item.name }}
  Port {{ item.port_maps | regex_replace('\:22','') }}

{%   endfor %}

Host *
  HostName 127.0.0.1
  User vagrant
  IdentityFile  ~/.vagrant.d/insecure_private_key
  ControlMaster auto
  ControlPath /tmp/%h-%r
  ControlPersist 5m
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
